.home {
  .container {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "box1 . box2  box4"
      ". box3 . box6"
      "box5 box5 box5 box5";

    border: 1px solid red;
    gap: 20px;
  }

  .box {
    // height: 100px;
    // width: 100px;
    box-shadow: 0 0 5px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  .box1 {
    grid-area: box1;
  }
  .box2 {
    grid-area: box2;
  }
  .box3 {
    grid-area: box3;
  }
  .box4 {
    grid-area: box4;
  }
  .box5 {
    grid-area: box5;
  }
  .box6 {
    grid-area: box6;
  }
}
