.rolldice {
  position: relative;
  display: flex;

  gap: 20px;
  align-items: center;
  justify-content: center;

  .board {
    height: 80%;
    max-width: 400px;
    width: 100%;
    border: 1px solid red;
  }

  .diceWrapper {
    position: absolute;
    max-height: 200px;
    max-width: 200px;
    height: 100%;
    width: 100%;
    border: 1px solid red;
    background: white;
    box-shadow: 0 0 0px 10px white inset;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dice {
    position: relative;
    width: 100px;
    height: 100px;
    //transform: rotate3d(1, 1, 1, 0deg);
    transform-style: preserve-3d;
    animation-name: roll;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @keyframes roll {
      0% {
        transform: rotate3d(1, 1, 1, 0deg);
      }
      100% {
        transform: rotate3d(1, 1, 1, 360deg);
      }
    }

    & > div {
      position: absolute;
      inset: 0;
      border-radius: 10px;
      box-shadow: 0 0 1px 1px gray;
      overflow: hidden;
    }

    &-1 {
      transform: rotateX(0deg) translateZ(49px);
      background: green;
    }

    &-2 {
      transform: rotateX(90deg) translateZ(49px);
      background: blue;
    }

    &-3 {
      transform: rotateY(90deg) translateZ(-49px);
      background: deeppink;
    }

    &-4 {
      transform: rotateY(90deg) translateZ(49px);
      background: deeppink;
    }

    &-5 {
      transform: rotateX(90deg) translateZ(-49px);
      background: blue;
    }

    &-6 {
      transform: rotateX(0deg) translateZ(-49px);
      background: green;
    }


  }

  img {
    width: 100%;
    height: 100%;
  }
}
