.rolldice {
  position: relative;
  display: flex;

  gap: 20px;
  align-items: center;
  justify-content: center;
  .board {
    height: 80%;
    max-width: 400px;
    width: 100%;
    border: 1px solid red;
  }
  .dice {
    position: absolute;
    max-height: 200px;
    max-width: 200px;
    height: 100%;
    width: 100%;
    border: 1px solid red;
    background: red;
    box-shadow: 0 0 0px 10px white inset;
    border-radius: 50%;
  }
}
